<div class="serch-bar">
    <label> Pesquisar um novo usuário</label>
    <div>
        <form [formGroup]="form" (ngSubmit)="getNewUser()">
            <input class="custom-input" type="text" name="user" id="user" formControlName="user" placeholder="Ex.: anunes1990" [ngClass]="{'input-error': submitted && form.invalid}">
            <button class="custom-btn accept-btn" type="submit"><i class="fas fa-search"></i> Pesquisar</button>
        </form>
    </div>
</div>

<div *ngIf="userInfo" class="info-user">
    <app-user-info [userInfo]="userInfo"></app-user-info>
</div>

<div *ngIf="userRepos.length > 0" class="repos-user">
    <h2 class="title">Repositórios do Usuário</h2>
    <app-repo-card *ngFor="let r of userRepos" [repo]="r"></app-repo-card>
</div>

<app-msg-error *ngIf="msgError" [msg]="msgError"></app-msg-error>