<div class="card-avatar">
    <img class="avatar-thumbnail" [src]="user.avatar_url" alt="avatar do usuário">
    <div class="info-card">
        <h3 class="user-login">{{user.login}}</h3>
        <div class="card-actions">
            <p class="action" (click)="openModalInfo(user)">Descrição Breve</p>
            <p class="action" (click)="openGoToDetails(user.login)">Descrição Completa</p>
        </div>
    </div>
</div>

<dialog *ngIf="userInfo" id="dialog-user" class="site-dialog">
    <div class="close-container">
        <span class="close-dialog" (click)="closeModalInfo()">Fechar X</span>
    </div>
    <app-user-info [userInfo]="userInfo"></app-user-info>
</dialog>