.card-avatar {
    width: 500px;
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

.avatar-thumbnail {
    height: 100px;
    margin-right: 10px;
    border-radius: 50px;
    z-index: 2;
    position: relative;
    left: 25px;
    box-shadow: 2px 2px 5px #000;
    background-color: #fff;
}

.info-card {
    width: 100%;
    padding: 5px 50px;
    text-align: center;
    background-color: #fff;
    border: solid 2px #000;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    right: 25px;
    box-shadow: 2px 2px 5px #000;
}

.card-actions {
    display: flex;
    justify-content: space-between;
}

.action {
    margin: 0;
}

.action:hover {
    cursor: pointer;
    font-weight: bold;
}


/* Custom Dialog*/

#dialog-user {
    min-width: 400px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.close-container {
    text-align: right;
}

.close-dialog {
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
}

.close-dialog:hover {
    cursor: pointer;
    color: #770000;
}