<div class="search-container">
    <div class="search-info">
        <form [formGroup]="form" (ngSubmit)="getUser()">
            <label for="user">Informe usuário do GitHub que você deseja encontrar</label>
            <input class="custom-input" type="text" name="user" id="user" formControlName="user" placeholder="Ex.: anunes1990" [ngClass]="{'input-error': submitted && form.invalid}">
            <span class="msg-error" *ngIf="submitted && form.invalid">Informe um usuário para efetivar a pesquisa</span>
            <div>
                <button class="custom-btn accept-btn" type="submit"><i class="fas fa-search"></i> Pesquisar</button>
                <button class="custom-btn reject-btn" *ngIf="searched" type="button" (click)="getUsers()"><i class="fas fa-broom"></i> Limpar pesquisa</button>
            </div>
        </form>
    </div>
</div>

<app-msg-error *ngIf="msgError" [msg]="msgError"></app-msg-error>

<div class="custom-row">
    <div class="card-users" *ngFor="let u of users">
        <app-avatar-card [user]="u"></app-avatar-card>
    </div>
</div>