/* You can add global styles to this file, and also import other style files */

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    /* background-color: #efefef; */
}

.content {
    padding: 75px 100px 20px 100px;
}

@media only screen and (max-width: 750px) {
    .content {
        padding: 75px 20px 20px 20px;
    }
}

*:focus {
    box-shadow: none!important;
    outline: transparent!important;
}

form {
    display: contents;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.custom-input {
    height: 36px;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
    border: solid 2px #006940;
    border-radius: 50px;
}

.input-error {
    border-color: #ff0000;
}

.msg-error {
    font-size: 14px;
    font-weight: bold;
    color: #ff0000;
}

.custom-btn {
    width: fit-content;
    font-size: 18px;
    border: solid 1px;
    padding: 8px;
    border-radius: 50px;
    margin: 0px 5px;
}

.custom-btn:hover {
    cursor: pointer;
}

.accept-btn {
    border-color: #006940;
    color: #006940;
    background-color: #fff;
}

.accept-btn:hover {
    border-color: #006940;
    color: #fff;
    background-color: #006940;
}

.reject-btn {
    border-color: #ff0000;
    color: #ff0000;
    background-color: #fff;
}

.reject-btn:hover {
    border-color: #ff0000;
    color: #fff;
    background-color: #ff0000;
}

label {
    color: #006940;
    font-weight: bold;
    margin: 5px 0px;
}

.title {
    color: #006940;
    border-bottom: solid;
    text-align: center;
    margin: 10px 0px;
}